<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.HomeFoodFighterAndroid"
        tools:targetApi="31">
        <activity
            android:name=".StartRecipeActivity"
            android:exported="false" />
        <activity
            android:name=".DetailRecipeActivity"
            android:exported="false" />
        <activity
            android:name=".RealTimeRecipeActivity"
            android:exported="false" />
        <activity
            android:name=".LikedFoodChoiceActivity"
            android:exported="false" />
        <activity
            android:name=".DailyDietActivity"
            android:exported="false" />
        <activity
            android:name=".DatePickActivity"
            android:exported="false" />
        <activity
            android:name=".MyreviewActivity"
            android:exported="true" />
        <activity
            android:name=".MyrecipeActivity"
            android:exported="true" />
        <activity
            android:name=".BookmarkActivity"
            android:exported="true" />
        <activity
            android:name=".PasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="true" />
        <activity
            android:name=".SettingActivity"
            android:exported="true" />
        <activity
            android:name=".MypageActivity"
            android:exported="true" />
        <activity
            android:name=".ReviewActivity"
            android:exported="true" />
        <activity
            android:name=".SearchActivity"
            android:exported="true" />
        <activity
            android:name=".FillRefrigeratorActivity"
            android:exported="false" />
        <activity
            android:name=".OthersActivity"
            android:exported="false" />
        <activity
            android:name=".SauceActivity"
            android:exported="false" />
        <activity
            android:name=".MeatSeafoodActivity"
            android:exported="false" />
        <activity
            android:name=".GrainsActivity"
            android:exported="false" />
        <activity
            android:name=".VegetablesFruitActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ViewRecipeActivity"
            android:exported="false" />
        <activity
            android:name=".FindAccountActivity"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".AllRecipeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>